* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: hsl(216, 12%, 8%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: hsl(213, 19%, 18%);
    width: 380px;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 20px;
}

.star-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(213, 19%, 25%);
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.star-container img {
    height: 12px;
    width: 12px;
}

form h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

form p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
}

.numbers {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    background-color: hsl(214, 15%, 28%);
    color: hsl(217, 12%, 63%);
    opacity: 0.9;
}

.number:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

form .submit {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 8px;
    border-radius: 18px;
    font-weight: 700;
    border: none;
}

form .submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    transition: background 0.4s ease, color 0.4s ease; 
    cursor: pointer;
}