* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.flex-item {
  background-color: lightgray;
  border: 1px solid black;
  width: 200px;
}

.item-1 {
  min-height: 100px;
  flex: 1 0 0;
}

.item-2 {
  min-height: 200px;
  flex-grow: 2;
  flex-basis: 0;
}

.item-3 {
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}

.item-4 {
  min-height: 400px;
  flex-shrink: 0;
}
